:root {
    --gray: #8789C0;
    --turquoise: #45F0Df;
    --periwinkle: #c2cae8;
    --bluepurple: #8380b6;
    --darkblue: #111d4a;
}

body {
    background: linear-gradient(#111d4a, #8380b6);
    height: 100vh;
    font-family: 'Unbounded', cursive;
}

header {
    text-align: start;
    padding-left: 60px;
    padding-top: 60px;
    color: white;
}

form {
    display: flex;
    color: white;
    justify-content: align-items;
}

#city-input {
    margin-left: 60px;
    font-family: 'Unbounded', cursive;
}

#submit-btn {
    margin-left: 5px;
    font-family: 'Unbounded', cursive;
    color: var(--gray)
}

#current-weather {
    border: var(--periwinkle);
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 220px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-left: 300px;

}